body {
    font-family: 'Roboto', sans-serif;
    background-color: #EFEFEF;
    color: #333333;
    font-size: 14px;
}
.wrapper {
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto
}
.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 4px 0;
    flex-wrap: wrap;
    margin-bottom: 4px;
}
.nav > li {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.nav > li > a {
    text-decoration: none;
    color: #333333;
    transition: 0.2s ease;
}
.nav > li > a:hover {
    color: #66C05D;
}
.header {
    background-color: #fff;
    padding-top: inherit;
    padding-top: 4px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 12px 0;
}
.logo {
    color: #66C05D;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
    letter-spacing: 4px;
}
.logo-img {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(../img/logo.svg);
    margin-right: 20px;
}
.header-info span {
    font-size: 16px;
}
.header-info button {
    font-size: 14px;
    color: #333333;
    border-radius: 20px;
    border: 2px solid #66C05D;
    background-color: transparent;
    padding: 10px 25px;
    margin-left: 36px;
    transition: 0.2s ease;
    cursor: pointer;
}
.header-info button:hover {
    background-color: #66C05D;
    color: #fff;
}
.header-bottom {
    padding: 20px 0 17px 0;
}
.header-bottom .nav {
    font-size: 16px;
    margin: 0;
}
.header-bottom .nav > li {
    margin-left: 20px;
    margin-right: 20px;
}
hr {
    border: none;
    background-color: #EFEFEF;
    height: 1px;
}
.banner {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 159px;
    padding-bottom: 204px;
    color: #fff;
}
.title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 39px;
}
.title-h2 {
    font-size: 24px;
    font-weight: 700;
}
.banner p {
    margin-bottom: 57px;
    max-width: 315px;
    line-height: 1.5;
}
.btn {
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #fff;
    background-color: transparent;
    padding: 9px 47px;
    transition: 0.2s ease;
}
.btn:hover {
    background-color: #fff;
    color: #333333;
}
.bg-white {
    background-color: #fff;
}
.bg-green {
    background-color: #66C05D;
    color: #fff;
    padding: 35px 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bg-green-item {
    flex: 0 0 50;
    margin-top: 0px;
    margin-left: -3px;
}
.bg-green-item .bg-green-img {
    flex: 0 0 40%;
    text-align: center;
}
.bg-green h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 23px;
}
.bg-green input{
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 8px 27px;
    margin-top: 16px;
    margin-left: -1px;
}
.bg-green .btn {
    display: block;
    text-align: center;
    max-width: 150px;
    margin-top: 31px;
    margin-left: -2px;
    padding: 9px 27px 7px 26px;
}
.catalog {
    padding-top: 61px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 12px 30px;
}
.grid-item-title {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: -4px;
}
.grid-item-img {
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: center;
    margin-left: -24px;
    margin-top: 6px;
}
.grid-item-left {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 89px;
}
.grid-item-right {
    grid-column: 3/5;
    grid-row: 3/4;
    margin-top: 89px;
}
.grid-item-cat {
    text-align: center;
    padding: 1px 0px;
}
.grid-item-cat .bg-white {
    padding: 23px 30px 34px 30px;
}
.grid-price {
    font-size: 21px;
    font-weight: 500;
    margin-top: 14px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}
.grid-btn {
    color: #fff;
    border-radius: 30px;
    border: 2px solid #66C05D;
    background-color: #66C05D;
    padding: 7px 40px;
    margin-left: -2px;
    text-decoration: none;
    transition: 0.2s ease;
    cursor: pointer;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 23px;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    color: #828282;
    padding: 15px 0;
    margin-top: 9px;
    font-size: 12px;
}
.footer-bottom p {
    margin: 0;
}
.footer-bottom a {
    color: #828282;
    text-decoration: none;
}
.footer-info span {
    font-size: 16px;
    margin-left: 103px;
}
.footer-info button {
    font-size: 14px;
    color: #333333;
    border-radius: 20px;
    border: 2px solid #66C05D;
    background-color: transparent;
    padding: 10px 25px;
    margin-left: 36px;
    transition: 0.2s ease;
    cursor: pointer;
}
.footer-info button:hover {
    background-color: #66C05D;
    color: #fff;
}
.social {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}
.social-item {
    margin-right: 18px;
}

.social-link {
    border:2px solid #66C05D;
    display: block;
    width: 43px;
    height: 43px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.social-youtube {
    background-image: url(../img/youtube.svg);
}
.social-vk {
    background-image: url(../img/vk.svg);
}
.social-fb {
    background-image: url(../img/fb.svg);
}
.social-inst {
    background-image: url(../img/instagram.svg);
}
.number {
    font-size: 14px;
  }
.grid-title {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    margin-left: 7px;
    margin-top: 19px;
    margin-bottom: 16px;
    max-width: 178px;
    line-height: 1.2;
  }
  
.footer-top-item {
  margin-top: 22px;
  margin-left: -2px;
}
.footer-info {
  margin-top: 22px;
}
.social-item:last-child {
  margin-left: -3px;
}Ñ‹
.address {
  font-size: 10px;
}